html, body {
	background-color: CornflowerBlue;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

#main {
	width: 70%;
	height: auto;
	background-color: GhostWhite;
	margin: auto;
	border: 3px black solid;
	margin-bottom: 10px;
}

header div {
	position: relative;
    text-align: center;
    color: white;
	height: 200px;
}

header h1 {
	text-align: center;
	font-size: 50px;
	color: Black;
	font-family: serif;
	margin-top: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Black;
	color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: Blue;
}

/* ------------- Content1 ------------- */

.content1 {
	display: inline-block;
	width: 50%;
	padding-left: 5px;
}

.content1 .paragraph {
	display: inline-block;
	width: 100%;
	margin-left: 5%;
	padding-right: 5px;
}

.content1 img {
	display: inline-block;
	width: 100%;
	margin: 3%;
	border-radius: 5%;
	border: 2px white solid;
}

/* ------------- Content2 ------------- */

.content2 {
	display: inline-block;
	position: absolute;
	width: 40%;
	padding-left: 10%;
	margin-top: 1%;
}

.content2 .paragraph {
	display: inline-block;
	width: 50%;
	padding-right: 5px;
}

.content2 img {
	display: inline-block;
	width: 50%;
	border-radius: 5%;
	border: 2px white solid;
}

/* ------------- Content3 ------------- */

.content3 {
	display: inline-block;
	position: absolute;
	width: 40%;
	padding-left: 10%;
	margin-top: 1%;
	top: 70%;
}

.content3 .paragraph {
	display: inline-block;
	width: 50%;
	padding-right: 5px;
}

.content3 img {
	display: inline-block;
	width: 50%;
	border-radius: 5%;
	border: 2px white solid;
}

/* ------------- Content4 ------------- */

.content4 {
	display: inline-block;
	width: 50%;
	margin-top: 7%;
}
.content4 h3 {
	margin-left: 10%;
}

.content4 .paragraph {
	margin-left: 10px;
}

.content4 img {
	float: left;
	width: 50%;
	border-radius: 5%;
	border: 2px white solid;
	margin: 3%;
}

footer {
	border-top: 1px black solid;
	text-align: center;
	color: white;
	background-color: black;
}

